/* ------------------------------------首页的样式 */
/* --------------------------导航的样式 */
.lt_nav {
    padding: 10px;
}
.lt_nav li {
    float: left;
    width: 33.3%;
}
.lt_nav li a {
    display: block;
}

/* ---------------------------商品模块的样式(在common.css中) */
