/* 项目初始化 */
a {
    color: #333;
}
/* lvha */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 模态框中的字体颜色 */
.red {
    color: #A94442;
}

/* -----------------------------------------登录页面的样式 */
/* 登录页面的背景 */
.body-bg {
    background-color: #222D32;
}
.panel-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
/* 自定义的类名 */
.mt_150 {
    margin-top: 150px;
}
/* 让路径导航的盒子margin-top: 20px; */
.mt_20 {
    margin-top: 20px;
}

/* -----------------------------------------首页的样式(侧边栏和主体部分) */
/* -------------------侧边栏的样式 */
.lt_aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    background-color: #222D32;
    /* 增加层级, 以免主体部分的lt_topbar把侧边栏的标题覆盖 */
    z-index: 999;
    transition: all 1s;
}
/* hide 隐藏类, display: none; */
/* 点击左侧整体菜单的切换 */
.lt_aside.hidemenu {
    left: -180px;
}
.lt_aside .brand {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #367FA9;
    font-size: 24px;
}
.lt_aside .brand a {
    color: #fff;
}
.lt_aside .user {
    height: 180px;
    padding-top: 30px;
}
.lt_aside .user img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
} 
.lt_aside .user p {
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.lt_aside .nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 40px;
    /* 防止点击a时, 出现一弹一弹现象 */
    border-left: 3px solid transparent;
}
.lt_aside .nav a.current {
    background-color: #1D1F21;
    border-left: 3px solid #069;
}
.lt_aside .nav a i {
    margin-right: 5px;
}
.lt_aside .nav .child a {
    padding-left: 60px;
}
.lt_aside .nav .child {
    display: none;
}

/* -------------------主体部分的样式 */
.lt_main {
    height: 2000px;
    padding-left: 180px;
    padding-top: 50px;
    /* ps */
    /* background-color: pink; */
    transition: all 1s;
}
.lt_main.hidemenu {
    padding-left: 0px;
}
.lt_main .lt_topbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #3C8DBC;
    padding-left: 180px;
    transition: all 1s;
    /* 增强层级, 以免下面的数据可视化(数据图表化)lt_content覆盖lt_topbar */
    z-index: 998;
}
.lt_topbar.hidemenu {
    padding-left: 0px;
}
.lt_main .lt_topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.lt_main .breadcrumb a {
    color: #337AB7;
}

/* 数据可视化(数据图表化)的样式 */
.lt_main .echarts_left,
.lt_main .echarts_right {
    width: 48%;
    height: 400px;
    /* ps */
    background-color: skyblue;
}
